@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: hsl(0, 100%, 74%) url(/images/bg-intro-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width: 80%;
    max-width: 1300px;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1 {
    font-size: 2.5em;
}

small {
    font-size: 10px;
}

.left-div {
    width: 500px;
	max-width: 100%;
    color: #fff;
}

.left-div p {
    line-height: 25px;
}

.right-div {
    width: 500px;
	max-width: 100%;
}

.form-container {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 600px;
	max-width: 100%;
    padding: 30px 50px;	
}


.terms {
   display: block;
   text-align: center;
   padding-top: 30px;
}

.terms span:first-child {
    color: hsl(246, 25%, 77%);
}

.terms span {
    color: hsl(0, 100%, 74%) ;
    font-weight: bolder;
}

.form-group {
    position: relative;
    margin-bottom: 10px;
	padding-bottom: 20px;
}

.form-group input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 15px 10px;
	width: 100%;
}

.form-group input:focus {
    outline: 0;
    border-color: hsl(248, 32%, 49%);
    /* border-radius: 4px; */
}

.form-group i {
    position: absolute;
    bottom: 32px;
    right: 35px;
    color:hsl(0, 100%, 74%);
    font-size: 20px;
    display: none;
}

.form-group.success i.fa-check-circle {
    color:hsl(154, 59%, 51%);
    display: block;
}

.form-group.error i.fa-exclamation-circle {
    color: hsl(0, 100%, 74%);
    display: block;
}

.form-group.success input {
    border: 2px solid hsl(154, 59%, 51%) ;
}

.form-group.error input {
    border: 2px solid hsl(0, 100%, 74%) ;
    color: hsl(0, 100%, 74%);
}

.form-group .feedback {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    font-style: italic;
    color:hsl(0, 100%, 74%)
}

.form-group.error .feedback {
   display: block;
}

.submit-btn, .try-btn {
    display: block;
    width: 100%;
    padding: 15px 10px;
    font-family: inherit;
    border-radius: 4px;
    border: none;
}

.try-btn {
    background: hsl(248, 32%, 49%);
    color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.9);
}

.try-btn span {
    color: hsl(246, 25%, 77%);
}

.submit-btn {
    background: hsl(154, 59%, 51%);
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.submit-btn:hover {
    background:hsl(154, 57%, 66%)
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(0, 0%, 100%); }

@media (max-width: 1076px) {
    .container{
        margin-top: 150px;
        margin-bottom: 100px;
        flex-direction: column
        /* grid-template-columns: 1fr;  */
    }

    h1 {
        text-align: center;
    }
    .left-div p {
        text-align: center;
    }
}


@media (max-width: 500px) {
    body {
        background: hsl(0, 100%, 74%) url(/images/bg-intro-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container{
        width: 80%;
        max-width: 1000px;
    }
    .left-div p {
        text-align: center;
        font-size: 13px;
        padding: 20px 0 45px 0;
    }
    h1 {
        font-size: 2em;
    }
    .try-btn {
        padding: 20px 60px 20px 60px;
    }
    .form-container {
        width: 600px;
        max-width: 100%;
        padding: 30px 20px;	
    }
}
